/* COLORS
Orange: #ff6900
Lightgrey: #efefef
*/

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/* utilities */
.container{
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* HEADER */
header{
    background-color: #ff6900;
    font-weight: 600;
    color: white;
    /* debug */
    height: 100px;
}

.header-container{
    display: flex;
    height: 100%;
}

/* header-left */
.header-nav{
    width: calc(100% / 3);
    height: 100%;
}
.genders{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/* header-center */
.header-logo{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 35px;
}

/* header-right */
.header-actions{
    width: calc(100% / 3);
    height: 100%;
}

.top-actions{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;    
    gap: 10px;
}

/* MAIN */
.main-container{
    padding: 50px 0;
    /* debug */
    height: 1800px;
}

/* Grid */
.main-row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main-card{
    position: relative;
    border: solid 1px transparent;
    height: 700px;
    width: calc(100% / 3 - (40px / 3));
}

/* Cards */
.card-details{
    line-height: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.brand{
    font-size: .8rem;
    font-weight: 300;
}

.product{
    font-weight: 500;
}

.price{
    color: red;
    margin-right: 10px;
    font-size: .9rem;
    font-weight: 500;
}

.prev-price{
    font-size: .8rem;
    font-weight: 300;
    text-decoration: line-through;
}

.banner{
    font-size: .8rem;
    padding: 5px 10px;
    color: white;
}

.discount{
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 90px;
}

.sust{
    background-color: green;
    position: absolute;
    left: 55px;
    bottom: 90px;
}

.heart{
    background-color: white;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 2rem;
    padding: 5px 15px;
}

#sust{
    background-color: green;
    position: absolute;
    left: 0;
    bottom: 90px;
    font-size: .8rem;
    padding: 5px 10px;
    color: white;
}

/* cards hovering */
.img-b{
    display: none;
}

.card-img:hover .img-b{
    display: block;
}

.card-img:hover .img-a{
    display: none;
}