/* COLORS
Orange: #ff6900
Lightgrey: #efefef
*/

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/* utilities */
.container{
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header{
    background-color: #ff6900;
    font-weight: 600;
    color: white;
    /* debug */
    height: 100px;
}

.header-container{
    display: flex;
    height: 100%;
}

/* header-left */
.header-nav{
    width: calc(100% / 3);
    height: 100%;
}
.genders{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/* header-center */
.header-logo{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 35px;
}

/* header-right */
.header-actions{
    width: calc(100% / 3);
    height: 100%;
}

.actions{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;    
    gap: 10px;
}

